.sub {
  width: 100px;
  color: white;
  text-align: center;
  margin: 30px 0 0 550px;
  text-transform: uppercase; }

.dot {
  width: 10px;
  height: 10px;
  color: white;
  text-align: center;
  margin: -35px 0 0 100px;
  font-size: 2em;
  text-decoration: none; }

.left {
  width: 150px;
  float: left;
  position: absolute;
  margin: -1070px 0 0 60px; }

.hellobox {
  width: 0;
  height: 0;
  padding: 0 0 0 0;
  margin: 0 20px 0 0; }

body {
  margin: 0 0 0 0;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat; }

header {
  width: 1000px;
  height: 100px;
  background-color: none;
  margin: 0 auto; }
  header .headerbox1 {
    width: 200px;
    height: 40px;
    float: left;
    margin: 45px 66.5px 0 0;
    background-color: #b4292e; }
  header .headerbox2 {
    width: 200px;
    height: 40px;
    float: left;
    margin: 45px 66.5px 0 0;
    background-color: #b4292e; }
  header .headerbox3 {
    width: 200px;
    height: 40px;
    float: left;
    margin: 45px 66.5px 0 0;
    background-color: #b4292e; }
  header .headerbox4 {
    width: 200px;
    height: 40px;
    float: left;
    margin: 45px 66.5px 0 0;
    background-color: #b4292e;
    margin: 45px 0 0 0; }
  header h2 {
    color: white;
    text-align: center;
    margin: 9px 0 0 0;
    text-transform: uppercase;
    font-size: 120%;
    font-style: oblique; }

.topimage {
  width: 983px;
  height: 350px;
  background-color: white;
  margin: 0 auto;
  background-image: url("../images/top-image.png");
  background-repeat: no-repeat;
  background-position: 37% 26%;
  border: 10px solid white; }

.wingbone {
  width: 380px;
  margin: 62px 0 0 15px; }

.buttons {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  padding: 10px 0 14px 0; }

.belowbuttondiv {
  width: 1000px;
  height: 370px;
  margin: 0 auto; }

h3 {
  padding: 0 0 0 28px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 150%;
  font-weight: 400;
  color: #494949; }

h4 {
  padding: 0 0 0 28px;
  color: #C1C1C1;
  font-weight: lighter; }

p {
  padding: 0 20px 0 28px;
  color: #5E5C5D; }

h5 {
  color: #C05253;
  text-transform: uppercase;
  padding: 0 0 0 110px;
  font-size: 90%;
  font-weight: 800;
  margin: 0; }

a {
  text-decoration: none; }

.discriptiondiv1 {
  width: 325px;
  height: 340px;
  background-color: #FDFDFD;
  float: left;
  margin: 0 12.3px 0 0; }

.discriptiondiv2 {
  width: 325px;
  height: 340px;
  background-color: #FDFDFD;
  float: left;
  margin: 0 12.3px 0 0; }

.discriptiondiv3 {
  width: 325px;
  height: 340px;
  background-color: #FDFDFD;
  float: left;
  margin: 0 12.3px 0 0;
  margin: 0; }

.gallary {
  width: 1000px;
  height: 500px;
  margin: 0 auto; }

.pic1 {
  width: 295px;
  height: 464px;
  border: 5px solid white;
  background-position: 79% 0%;
  float: right;
  background-repeat: no-repeat;
  background-image: url("../images/sk8er-2.png"); }

.pic2 {
  width: 316px;
  height: 230px;
  border: 5px solid white;
  background-position: 90% 40%;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-4.png"); }

.pic3 {
  width: 330px;
  height: 230px;
  border: 5px solid white;
  background-position: 0% 40%;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-3.png"); }

.pic4 {
  width: 670px;
  height: 210.4px;
  border: 5px solid white;
  background-position: 0% 75%;
  float: left;
  background-repeat: no-repeat;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-1.png"); }

.pic1 p {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 185px 0 0 0; }

.pic2 p {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 80px 0 0 25px; }

.pic3 p {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 88px 0 0 0; }

.pic4 p {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 70px 90px 0 0; }

h6 {
  color: white; }

.clearfix {
  overflow: auto;
  zoom: 1; }

.skateboards {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: white; }

.board1 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-3.png");
  background-repeat: no-repeat; }

.board2 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-4.png");
  background-repeat: no-repeat; }

.board3 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-5.png");
  background-repeat: no-repeat; }

.board4 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-6.png");
  background-repeat: no-repeat; }

.board5 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-7.png");
  background-repeat: no-repeat; }

.board6 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-8.png");
  background-repeat: no-repeat; }

.board7 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-9.png");
  background-repeat: no-repeat; }

.board8 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-10.png");
  background-repeat: no-repeat; }

.board9 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-2.png");
  background-repeat: no-repeat; }

.board10 {
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
  background-image: url("../images/sk8-1.png");
  background-repeat: no-repeat; }

.low {
  width: 1000px;
  height: 340px;
  margin: 24px 0 0 220px;
  background-color: white; }

.contactus {
  width: 500px;
  color: #7D7E7B;
  font-size: 2rem;
  padding: 25px 0 0 30px; }

.contactp {
  width: 500px;
  color: #7D7E7B;
  margin: -20px 0 0 0;
  color: #9A9A9A; }

.leftbox {
  width: 500px;
  height: 170px;
  float: left;
  margin: -30px 0 0 0; }

.rightbox {
  width: 450px;
  height: 300px;
  float: right; }

form input {
  width: 400px;
  height: 30px;
  margin: 25px 0 0 0; }

textarea {
  width: 400px;
  height: 100px; }

button {
  width: 250px;
  height: 40px;
  float: right;
  margin: 0 43px 0 0;
  background-color: #B4292E;
  color: white; }

button:hover {
  background-color: #821416; }
