body {
  margin: 0 0 0 0;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;


}

@mixin header-box {
  width: 200px;
  height: 45px;
  float: left;
  margin: 140px 66.5px 0 0;
  background-color: #b4292e;
}

header {
  width: 1000px;
  height: 200px;
  background-color: none;
  margin: 0 auto;
  border: 1px solid black;

  .headerbox1 {
    @include header-box;


  }

  .headerbox2 {
    @include header-box;


  }

  .headerbox3 {
    @include header-box;


  }

  .headerbox4 {
    @include header-box;
    margin: 140px 0 0 0;
  }

  h2 {
    color: white;
    text-align: center;
    margin: 5px 0 0 0;
  }
}
