.buttons {
  width: 70px;
  height: 30px;
  margin: 0 auto;
  padding: 10px 0 0 0;
}

.belowbuttondiv {
  width: 1000px;
  height: 370px;
  margin: 0 auto;
}

@mixin discriptiondiv {
  width: 325px;
  height: 340px;
  background-color: #FDFDFD;
  float: left;
  margin: 0 12.3px 0 0;
}

h3 {
  padding: 0 0 0 28px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 150%;
  font-weight: 400;
  color: #494949;
}

h4 {
  padding: 0 0 0 28px;
  color: #C1C1C1;
  font-weight: lighter;
}

p {
  padding: 0 20px 0 28px;
  color: #5E5C5D;
}

h5 {
  color: #C05253;
  text-transform: uppercase;
  padding: 0 0 0 110px;
  font-size: 90%;
  font-weight: 800;
  margin: 0;
}

a {
  text-decoration: none;
}


.discriptiondiv1 {
  @include discriptiondiv;
}

.discriptiondiv2 {
  @include discriptiondiv;
}

.discriptiondiv3 {
  @include discriptiondiv;
  margin: 0;
}





.gallary {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.pic1 {
  width: 295px;
  height: 464px;
  border: 5px solid white;
  background-position: 79% 0%;
  float: right;
  background-repeat: no-repeat;
  background-image: url("../images/sk8er-2.png");

}

.pic2 {
  width: 316px;
  height: 230px;
  border: 5px solid white;
  background-position: 90% 40%;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-4.png");
}

.pic3 {
  width: 330px;
  height: 230px;
  border: 5px solid white;
  background-position: 0% 40%;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-3.png");

}


.pic4 {
  width: 670px;
  height: 210.4px;
  border: 5px solid white;
  background-position: 0% 75%;
  float: left;
  background-repeat: no-repeat;
  float: left;
  margin: 0 14px 14px 0;
  background-image: url("../images/sk8er-1.png");
}

h6 {
  color: white;

}

.clearfix {
  overflow: auto;
  zoom: 1;
}



.skateboards {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-color: white;

}


@mixin board{
  width: 60px;
  height: 270px;
  float: left;
  margin: 20px 0px 0 36px;
}

.board1 {
  @include board;
  background-image: url("../images/sk8-3.png");
  background-repeat: no-repeat;
}

.board2 {
  @include board;
  background-image: url("../images/sk8-4.png");
  background-repeat: no-repeat;

}


.board3 {
  @include board;
  background-image: url("../images/sk8-5.png");
  background-repeat: no-repeat;
}


.board4 {
  @include board;
  background-image: url("../images/sk8-6.png");
  background-repeat: no-repeat;

}


.board5 {
  @include board;
  background-image: url("../images/sk8-7.png");
  background-repeat: no-repeat;
}


.board6 {
  @include board;
  background-image: url("../images/sk8-8.png");
  background-repeat: no-repeat;
}


.board7 {
  @include board;
  background-image: url("../images/sk8-9.png");
  background-repeat: no-repeat;
}


.board8 {
  @include board;
  background-image: url("../images/sk8-10.png");
  background-repeat: no-repeat;
}


.board9 {
  @include board;
  background-image: url("../images/sk8-2.png");
  background-repeat: no-repeat;
}


.board10 {
  @include board;
  background-image: url("../images/sk8-1.png");
  background-repeat: no-repeat;

}












.low {
  width: 1000px;
  height: 300px;
  margin: 24px 0 0 220px;
  background-color: white;
}

.contactus {
  width: 500px;
  color: #7D7E7B;
  font-size: 2rem;
  padding: 25px 0 0 30px;
}
