.contactinfo {
  width: 100%;
  height: 300px;
  background-color: white;
  margin-bottom: 20px;

  .leftbox {
    padding-left: 20px;
    width: calc(50% - 40px);
    height: 300px;
    float: left;
    letter-spacing: 1px;

    .bottomtitle {
      color: #6F6F6D;
    }

    .bottomparagraph {
      color: #7F7F7F;
    }

    .bottomsocialmedia {
      width: 40%;
      height: 40px;

      @mixin bottomsocial {
        margin-left: 5px;
      }

      .bottomfacebook {
        width: 40px;
        height: 40px;
        float: left;
        @include bottomsocial;
        background-image: url('http://road.renthal.com/shop/image/button_facebook.jpg');
      }

      .bottomrss {
        width: 40px;
        height: 40px;
        float: left;
        @include bottomsocial;
        background-image: url('http://portal.isonas.com/files/rss_icon.png');
      }

      .bottomtwitter {
        width: 40px;
        height: 40px;
        float: left;
        @include bottomsocial;
        background-image: url('http://www.plequip.com/images/twitter-icon.jpg');
      }

      .bottomyoutube {
        width: 40px;
        height: 40px;
        float: left;
        @include bottomsocial;
        background-image: url('https://llc.ou.edu/media/images/SocialMedia/Footer/youtubeNormal.png');
      }

    }
  }

  .rightbox {
    padding-left: 20px;
    width: calc(50% - 30px);
    height: 300px;
    float: right;
    background-color: white;
  }
}
