.skatefaceholder {
  width: 100%;
  height: 800px;
  border: 2px solid none;
}

.lance {
  width: 100%;
  height: 240px;
  background-image: url('./assets/sk8er-4.png');
  background-repeat: no-repeat;
  background-position: 37% 22%;
  border: 5px solid none;
  float: left;
  margin-bottom: 10px;
  margin-right: 1%;

  .lancetext {
    color: white;
    text-transform: uppercase;
  }

  @media screen and (min-width: 780px) {
    float: left;
    width: 33.33%;
    background-position: 80% 22%;
    border: 5px solid white;
  }
}

.rodney {
  width: 100%;
  height: 240px;
  background-image: url('./assets/sk8er-3.png');
  background-repeat: no-repeat;
  background-position: 37% 22%;
  margin-bottom: 10px;

  .rodneytext {
    color: white;
    text-transform: uppercase;
  }

  @media screen and (min-width: 780px) {
    float: left;
    width: calc(33.33% - 3px);
    border: 5px solid white;
  }
}

.steve {
  @media screen and (min-width: 780px) {
    background-repeat: no-repeat;
    float: left;
    height: 204px;
    width: 68.33%;
    border: 5px solid white;
    background-position: 80% 65%;
    background-image: url('./assets/sk8er-1.png');

    .stevetext {
      color: white;
      text-transform: uppercase;
    }
  }
}

.tommy {
  @media screen and (min-width: 780px) {
    margin: 0 0 0 10px;
    background-repeat: no-repeat;
    float: right;
    width: 28.33%;
    height: 464px;
    background-position: 80% 22%;
    border: 5px solid white;
    margin-left: .5%;
    margin-top: -260px;
    background-image: url('./assets/sk8er-2.png');

    .tommytext {
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      font-family: 'Coda', cursive;
      letter-spacing: 3px;
      font-size: 2rem;
    }
  }
}
