.topbuttonsholder {
  width: 98.2%;
  height: 60px;
  margin-top: 20px;
  background-color: red;

  @mixin allbuttons {
    width: calc(25% - 7.5px);
    height: 50px;
    float: left;
    color: blue;
    margin-left: 10px;
  }

  .sk8tnews {
    @include allbuttons;
    margin-left: 0;
    background-color: chartreuse;
  }

  .skateboards {
    @include allbuttons;
    background-color: yellow;
  }

  .boarddesign {
    @include allbuttons;
    background-color: black;
  }

  .contactus {
    @include allbuttons;
    background-color: grey;
  }
}

.topimage {
  margin-top: 20px;
  border: 10px solid white;
  width: 100%;
  height: 150px;
  background-image: url("./assets/top-image.png");
  background-repeat: no-repeat;
  background-position: 37% 26%;


  @media screen and (min-width: 640px) {
    height: 300px;
    background-position: 37% 26%;
  }
}
