.phonediv {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: crimson;
}

.phonedivtwo {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: crimson;
}

.phonedivthree {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  background-color: crimson;
}
